{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ name }}</title>
    <!-- <link rel="stylesheet" href="profil.css" type="text/css"/> -->
    <style>
		body {
		   background-color: #98DBFF;
		   font-size:25px;
		}

		<!--h1 {
		  margin-left: 50px;
		}-->

		img{
		  margin-left: 50px;
		  float: left;
		  margin-top: 25px;
		}
		ul{
		  border-radius: 25px;
		  padding-top: 15px;
		  margin-left: 300px;
		  background-color: #ffffff;
		  width: 500px;
		  height: 150px;
		  color: #000000;
		}	
		
      .header {
        background-color: #ffffff;
        padding: 5px;
        border-radius: 10px;
      }
      .link{
        overflow: hidden;
        background-color: #7ed5e0;
        margin-top: 5px;
        border-radius: 10px;
      }
      /* Style the topnav links */
      .link a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border-radius: 10px;
      }

      /* Change color on hover */
      .link a:hover {
        background-color: #ddd;
        color: black;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <h1>Hello my name is {{ name }}</h1>
    </div>
    <div class="link">	
        <a href="index_lab1.html">Homepage</a>
        <a href="https://www.linkedin.com/in/pradipta-dwinanda-0bb2a7116/" target="_blank">Linkedin</a>
    </div>
   <!-- <img src="{{STATIC_URL}}images/foto2.jpg" alt="PasFoto" width="200" height="241"/>-->
    <ul>
      <li>Name : Pradipta Dwinanda</li>
      <li>Birthday : 17 Maret 1994 ( {{ age }} years old)</li>
      <li>From : Pekanbaru</li>
      <li>Job : Self Employee</li>
      <li>Motivation : To be a great programmer</li>
    </ul>
	
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
	
    <p style="margin-left: 300px; "><i><b> "With God in charge, I believe everything will work out for the best in the end."</b></i> -Henry Ford</p>
  </body>
</html>
